html,
body {
  height: 100%;
  margin: 0;
}

#root {
  font-family: Poppins, sans-serif;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: #ebebeb;
}

.homepage-header {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

  img {
    margin-left: 40px;
    width: 60px;
    border-radius: 50px;
  }

  a {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header-title {
    margin-left: 40px;
    font-size: 20px;
  }

  .search-bar {
    background-color: #ebebeb;
    margin-left: auto;
    margin-right: 100px;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    border-radius: 50px;

    input {
      background-color: #ebebeb;
      color: black;
      padding: 15px;
      border: none;
      margin-right: 20px;
      width: 100%;
      outline: none;
      font-size: 16px;
    }
  }

  nav ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
    list-style: none;
  }
  li a {
    color: black;
  }

  .menu-nav {
    margin-right: 40px;
  }

  .menu-nav li {
    background-color: #ebebeb;
    border-radius: 50px;
    padding: 10px;
  }
  .menu-nav a:hover {
    color: #ca1237;
    transition: color 0.2s ease-in;
  }
}

.homepage-content {
  display: flex;
  height: 100vh;
  flex-direction: row;
  width: 100%;

  li {
    list-style: none;
  }

  .sidebar {
    float: left;
    width: 400px;
    height: 100%;
    background-color: #f8f9fa;
    padding: 20px;
    overflow-y: auto;
  }

  .listings {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal-content h2 {
  margin-bottom: 20px;
}

.modal-content form input,
.modal-content form textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.modal-content form button {
  margin-right: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modal-content form button[type="submit"] {
  background-color: #ca1237;
  color: white;
}

.modal-content form button[type="button"] {
  background-color: #ccc;
}
