#root {
  font-family: Poppins, sans-serif;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  background-color: #EBEBEB;
}

.homepage-header {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

  img {
    margin-left: 40px;
    width: 60px;
    border-radius: 50px;
  }

  a {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header-title {
    margin-left: 40px;
    font-size: 20px;
  }

  .search-bar {
    background-color: #EBEBEB;
    margin-left: auto;
    margin-right: 100px;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    border-radius: 50px;
    
    input {
      background-color: #EBEBEB;
      color: black;
      padding: 15px;
      border: none;
      margin-right: 20px;
      width: 100%;
      outline: none;
      font-size: 16px;
    }
  }

  nav ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
    list-style: none;
  }
  li a {
    color: black;
  }

  .menu-nav {
    margin-right: 40px;
  }

  .menu-nav li {
    background-color: #EBEBEB;
    border-radius: 50px;
    padding: 10px;
  }
  .menu-nav a:hover {
    color: #ca1237;
    transition: color 0.2s ease-in;
  }
}

.homepage-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  
  li {
    list-style: none;
  }

  .sidebar {
    float: left;
    width: 250px;
    height: calc(100vh - 100px);
    background-color: #f4f4f4;
    padding: 20px;
  }
}